.container {
  background-color: whitesmoke;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
  margin: auto;
  width: 40vw;
}

.colaboradores {
  border-radius: 20px;
  height: 80vh;
}

.registros {
  max-height: 70%;
  overflow-y: scroll;
  text-align: center;
}

h1 {
  font-weight: bold;
  padding-top: 16px;
  text-align: center;
}

mat-card {
  border: 1px lightgray solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px;
}

mat-card-content {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

mat-form-field {
  padding: 16px;
  width: calc(100% - 32px);
}
