<div class="container">
  <div class="colaboradores">
    <h1>Colaboradores</h1>
    <mat-card *ngFor="let colaborador of colaboradores">
      <mat-card-content>
        <span> <strong>Nome: </strong>{{ colaborador.nome }}</span>
        <span> <strong>CPF: </strong>{{ colaborador.cpf }}</span>
      </mat-card-content>
      <mat-card-actions>
        <button
          *ngIf="!colaborador.validado"
          mat-stroked-button
          [color]="'warn'"
          (click)="abrirModalDados(colaborador)">
          VALIDAR
        </button>
        <button *ngIf="colaborador.validado" mat-stroked-button [disabled]="true" style="color: green">VALIDADO</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
