<div class="container">
  <form class="form" [formGroup]="formGroup">
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Nome*"
        formControlName="nome"
        maxlength="100" />
      <button
        *ngIf="formGroup.controls.nome.value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="formGroup.controls.nome.reset()">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="formGroup.controls.nome.hasError('required')">
        <strong> Campo obrigatório</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="email"
        placeholder="Email*"
        formControlName="email"
        maxlength="100" />
      <button
        *ngIf="formGroup.controls.email.value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="formGroup.controls.email.reset()">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="formGroup.controls.email.hasError('required')">
        <strong> Campo obrigatório</strong>
      </mat-error>
      <mat-error *ngIf="formGroup.controls.email.hasError('email')">
        <strong> Informe um e-mail valido</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="CPF*"
        formControlName="cpf"
        maxlength="14"
        mask="000.000.000-00" />
      <button
        *ngIf="formGroup.controls.cpf.value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="formGroup.controls.cpf.reset()">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="formGroup.controls.cpf.hasError('required')">
        <strong> Campo obrigatório</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Celular"
        formControlName="celular"
        mask="(00) 0 0000-0000" />
      <button
        *ngIf="formGroup.controls.celular.value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="formGroup.controls.celular.reset()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field>
      <mat-select
        placeholder="Conhecimentos"
        formControlName="conhecimentos"
        multiple>
        <mat-select-trigger>
          {{ formGroup.controls.conhecimentos.value }}
        </mat-select-trigger>
        <mat-option
          *ngFor="let conhecimento of conhecimentos"
          [value]="conhecimento"
          [disabled]="
            formGroup.controls.conhecimentos.value.length > 2 &&
            !formGroup.controls.conhecimentos.value.includes(conhecimento)
          "
          >{{ conhecimento }}</mat-option
        >
      </mat-select>
      <mat-hint align="end">Selecione entre 1 e 3 opções</mat-hint>
      <mat-error *ngIf="formGroup.controls.conhecimentos.hasError('required')">
        <strong> Campo obrigatório</strong>
      </mat-error>
    </mat-form-field>

    <div class="botoes">
      <mat-spinner *ngIf="loadingButton" [diameter]="24"></mat-spinner>
      <button
        *ngIf="!loadingButton"
        mat-raised-button
        color="primary"
        [disabled]="formGroup.invalid || formGroup.pristine"
        (click)="registrar()">
        Registrar
      </button>
      <button mat-raised-button (click)="formGroup.reset()">Limpar</button>
    </div>
  </form>
</div>
