<div class="dados">
  <h2>Dados do colaborador</h2>

  <h4><strong>Nome: </strong>{{ colaborador.nome }}</h4>
  <h4><strong>E-mail: </strong>{{ colaborador.email }}</h4>
  <h4><strong>CPF: </strong>{{ colaborador.cpf }}</h4>
  <h4><strong>Celular: </strong>{{ colaborador.celular }}</h4>
  <h4><strong>Conhecimentos: </strong>{{ colaborador.conhecimentos }}</h4>

  <div class="botoes">
    <button mat-stroked-button [color]="'primary'" (click)="validar()">VALIDAR</button>
    <button mat-stroked-button [color]="'warn'" (click)="dialogRef.close()">CANCELAR</button>
  </div>
</div>
